@{
    ViewBag.Title = "Store Home";
    Layout = "~/Views/StoreHome/_StoreHome.cshtml";
}

<style>
    body {
        min-height: 100%;
        background-image: url('../../Content/Images/franki-chamaki-xiqUxTN0VmU-unsplash.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
<div class="loading" style="display:none">
    Loading
</div>

<div class="container" style="margin-top:20px">
    <div class="row">
        <div class="col-lg-3 col-sm-6">
            <div class="card hovercard w3-hover-shadow" style="clip-path: polygon(100% 0, 100% 79%, 0 100%, 0 37%, 0 0);">
                <div class="cardheader">
                </div>
                <div class="avatar">
                    <img alt="" src="~/Content/Customer/images/offers.jpg">
                </div>
                <div class="info">
                    <div class="title">
                        <a href="#">Convinient Stores</a>
                    </div>
                    <div class="desc"></div>
                </div>
            </div>
        </div>
        </div>

