
@{
    ViewBag.Title = "Wellness";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<section id="home" class="slider" data-stellar-background-ratio="0.5">
    <div class="row">
        <div class="item item-third" style="height: 250px;background-image:url('../../Content/Customer/images/Spa.jpg')">
            <div class="caption">
                <div class="container">
                    <div class="col-md-8 col-sm-12">
                        <h1>WELLNESS</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="team" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="section-title wow fadeInUp" data-wow-delay="0.1s">
                    <h2> Fitness & Well-being</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="team-thumb wow fadeInUp" data-wow-delay="0.2s">
                        <img src="@Url.Content("~/Content/Customer/images/Wellness_centre.jpg")" class="img-responsive grid-img" alt="">
                        ><div class="team-hover">
                            <div class="team-item">
                                <h4>GYM</h4>
                                <ul class="social-icon">
                                    <li><a href="#" class="fa fa-arrow-right"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="team-info">
                        <h3>GYM</h3>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="team-thumb wow fadeInUp" data-wow-delay="0.2s">
                        <img src="~/Content/Customer/images/fruit-juice.jpg" class="img-responsive grid-img" alt="">
                        ><div class="team-hover">
                            <div class="team-item">
                                <h4>Juice Bar for Health conscious</h4>
                                <ul class="social-icon">
                                    <li><a href="#" class="fa fa-arrow-right"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="team-info">
                        <h3>Juice Bar for Health conscious</h3>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="team-thumb wow fadeInUp" data-wow-delay="0.4s">
                        <img src="@Url.Content("~/Content/Customer/images/Spa-img.jpg")" class="img-responsive grid-img" alt="">
                        <div class="team-hover">
                            <div class="team-item">
                                <h4>SPA</h4>
                                <ul class="social-icon">
                                    <li><a href="#" class="fa fa-arrow-right"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="team-info">
                        <h3>SPA</h3>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

