
<footer class="navbar-fixed-bottom">
    <div class="row">
        <div class="col-md-6">
            <a href=" #">
                Privacy Policy
            </a>|<a href="#">Terms & Condition </a>|<a href="#">Disclaimer</a>
        </div>
        <div class="col-md-6 text-right">
            <b>  &copy; Copyright - @DateTime.Now.Year BSQ Saanvi & CP Technologies India Pvt ltd. All rights reserved.</b>
        </div>
    </div>
</footer>