<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Yonder</title>
    @Styles.Render("~/Content/allcss")
    @Scripts.Render("~/bundles/modernizr")
    <style>
                        label {
                            text-decoration: solid;
                            color: InfoText;
                        }

                        .background-tint {
                            background-color: lemonchiffon;
                        }

                        footer {
                            background-color: #fbda53;
                            border-color: #ffda0f;
                            height: auto;
                            margin-top: 60px;
                            width: 100%;
                            text-align: left;
                            padding: 10px 10px 10px 10px;
                        }

                            footer img {
                                height: 100px;
                                width: 150px;
                            }

                        a {
                            text-decoration: none;
                            color: black;
                        }

                        .resize-image {
                            height: 70px;
                            width: 135px;
                            padding-bottom: 10px;
                        }

                        .margin-top-20 {
                            margin-top: 50px;
                        }
                        .toast-top-center{
                            margin-top:200px;
                        }
                        .dropdown-menu > li > a {
                            color:black;
                            padding-top:2px;
                            padding-bottom:2px;
                            background-color:white;
                        }
                          .dropdown-menu > li > a :hover {
                           border:1.5px solid black;
                        }
                        a.disabled {
                            pointer-events: none;
                            cursor: default;
                        }
                        .w3-quarter img {
                            margin-bottom: -6px;
                            cursor: pointer;
                        }

                            .w3-quarter img:hover {
                                opacity: 0.6;
                                transition: 0.3s;
                            }
                        h1, h2, h3, h4, h5, h6 {
                            font-family:'Plafair Display';
                            letter-spacing: 2px;
                        }
                        body{
                            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                            letter-spacing:1px;
                        }
        .navbar-nav.navbar-center {
            position: absolute;
            left: 50%;
            transform: translatex(-50%);
        }

        .card.hovercard {
            position: relative;
            padding-top: 0;
            overflow: hidden;
            text-align: center;
            background-color: white;
            padding-bottom: 50px;
        }
        .navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
            color: #860D32;
            background-color: #fff;
        }
         .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
            background-color:#21568a;
            color:white;
 }
    </style>

</head>
